.navB {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* You can adjust the z-index as needed */
  background-color: #61dafb;

}

.navB .nav-link {     
  color: blue; 
}

.navbar-toggler {
  color: blue; /* Adjust the color of the burger menu button */
  background-color: transparent; /* Set the background color to transparent */
}

/* Add styles for the navbar-toggler-icon */
.navbar-toggler-icon {
  background-color: blue; /* Set the background color of the icon */
  border-radius: 40%;
}

/* .navbar-toggler-icon::before {
  content: "";
  display: block;
  width: 20px; 
  height: 2px;
  background-color: blue;
  margin: 2px 0; 
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 10px solid #61dafb;
  transition: transform 0.3s ease;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: url('https://media.istockphoto.com/id/1279811110/photo/chemical-sofa-depth-cleaning-by-a-professional.webp?b=1&s=170667a&w=0&k=20&c=jkVjBbeIeHrbCxHNKUjLPq6Rq7WCgwbtzE5Mp-XOD6U=');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6); /* White color with 60% opacity */
  background-blend-mode: overlay;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 118);
}

.App-link {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left-align {
  text-align: left;
}

.small-text {
  font-size: 1rem;
  text-decoration-thickness: 3rem;
}

.hover-card {
  opacity: 0.5; 
  background-color: #f5f9fa; 
  box-shadow: none; 
  transform: translateY(0); 
  transition-property: opacity 0.3s, background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.hover-card:hover {
  opacity: 0.5;
  background-color: #21bff9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px);
  transition-property: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Custom CSS for Carousel Arrows */
.carousel-control-prev, .carousel-control-next {
  align-items: center;
  background-color: #61dafb; 
  color: #61dafb; 
  border: none; 
  border-radius: 50%; 
  opacity: 0.8; 
  width: 40px; 
  height: 40px; 
  transition: opacity 0.2s;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
}

.carousel-control-prev {
  left: 0; /* Position the left arrow on the left side */
}

.carousel-control-next {
  right: 0; /* Position the right arrow on the right side */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: blue;
  color: blue; 
  opacity: 1; 
}
